# Scientific
numpy==1.20.*
pandas==1.4.*

# GIS
shapely==1.8.*
rtree
geopandas==0.10.*

# Plotting
matplotlib==3.3.*
descartes==1.1.*

# Utilities
tqdm>=4.57.*
stringcase==1.2.*
pyarrow==7.0.*

# Style
isort==5.8.*
black==20.8b1.*

# Testing
pytest==6.2.*
